name: Release
run-name: Release $GITHUB_REF_NAME
on:
  push:
    tags:
      - '*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    container: python:3.13-alpine
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install build dependency
        run: pip install build
      - name: Build the package
        run: python -m build
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          path: dist

  release:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: dist
      - uses: softprops/action-gh-release@v2.5.0
        with:
          files: dist/*
          generate_release_notes: true
          make_latest: true

