name: Release
run-name: Release ${{ github.ref_name }}
on:
  push:
    tags:
      - '*.*.*'

env:
  VERSION: ${{ github.ref_name }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Build the package
        run: make build
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          path: dist

  publish:
    name: Publish to PyPI
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - run: echo Publish package distributions to PyPI

  install:
    name: Install newly-published package from PyPI
    needs: [publish]
    runs-on: ubuntu-latest
    steps:
      - run: echo "pip install pycli-template==$VERSION"
