name: Release
on:
  push: {}
#    branches:
#      - main
#    paths:
#      - src/**
#      - pyproject.toml
#      - requirements.txt
#      - '!src/pycli/__init__.py'

jobs:
  update-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install hatch
        run: pip install hatch
      - run: cat src/pycli/__init__.py
      - run: hatch version
      - run: hatch version patch
      - run: cat src/pycli/__init__.py
      - run: which git
      - run: git -h
      - run: git diff --name-status remotes/origin/main HEAD -- src/pycli/__init__.py

  test:
    runs-on: ubuntu-latest
    needs: [update-version]
    steps:
      - uses: actions/checkout@v6
      - run: cat src/pycli/__init__.py
