name: Release
on:
  push:
    #tags:
    #  - '*.*.*'

jobs:
  defaults:
    runs-on: ubuntu-latest
    steps:
      - run: 'echo job: ${{ job }}'
      - run: 'echo job name: ${{ job.name }}'
      - run: 'echo github: ${{ github }}'
      - run: 'echo vars: ${{ vars }}'
      - run: 'echo jobs: ${{ jobs }}'
      - run: 'echo steps: ${{ steps }}'

  build:
    runs-on: ubuntu-latest
    container: python:3.13-alpine
    steps:
      - run: pip install build
      - run: python -m build
      - uses: actions/upload-artifact@v6
        with:
          path: dist

  release:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v6
      - container: githubchangeloggenerator/github-changelog-generator
        run: github_changelog_generator --help
      - uses: actions/download-artifact@v7
#      - uses: softprops/action-gh-release@v2.5.0
