name: Validate version
run-name: Update package version in src/pycli/__init__.py
on:
  pull_request:
    paths:
      - src/**
      - pyproject.toml
      - requirements.txt
      - '!src/pycli/__init__.py'

defaults:
  runs-on: ubuntu-latest

jobs:
  validate-version:
    steps:
      - name: Fail workflow
        run: |
          echo ERROR: The version MUST be updated in src/pycli/__init__.py
          exit 1
