name: Validate version
on:
  push:
    paths:
      - src/**
      - pyproject.toml
      - requirements.txt
      - '!src/pycli/__init__.py'

jobs:
  validate-version:
    runs-on: ubuntu-latest
    steps:
      - name: Fail workflow
        run: |
          echo ERROR: The version MUST be updated in __init__.py
          exit 1
